body{
    background:#e6dcb8;
    font-family: Georgia, serif;
}

.caja{
    background:#ddd;
    padding:40px;
    width:70%;
    margin:40px auto;
}

h1{
    font-size:32px;
    margin-bottom:10px;
}

h2{
    margin-top:80px;
}
